img {
  width: 300px;
}


.about {
  align-items: center;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.about-me {
  background-color: grey;
  color: black;
  border-radius: 25px;
  padding-bottom: 5px;
}

h1 {
  animation: colorChange 3s linear infinite;
}

h2 {
  animation: colorChange 3s linear infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  100% {
    color: blue;
  }
}