h3 {
  button {
    max-height: 20px;
    width: 180px;
    margin-left: 10px;
    transform: translateY(-2px);
  }
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  li {
    list-style: none;
  }
}

.job { 
  font-weight: bolder;
  color: black;
  border-radius: 25px;
  padding-bottom: 5px;
  width: 700px;
  margin: 0 auto;
}

.experience-title {
  background: none;
  color: black;
}