body {
  background-color: white;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('./images/Personal\ background.jpg');

  color: white;
  
}

header {
  font-weight: bold;
  margin-top: -16px;
  padding-bottom: 20px;
}