body {
  background-color: skyblue;
  background-image: url('./images/Personal\ background.jpg'), url('./images/Alternate\ personal\ background.png');
  background-repeat: repeat-x, repeat;
  color: white;
  
}

header {
  background-color: grey;
  margin-top: -16px;
  padding-bottom: 20px;
}